/* 
Neue Haas Grotesk Display Pro 45 Light

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 400;
font-style: normal;


Neue Haas Grotesk Display Pro 46 Light Italic

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 400;
font-style: italic;


Neue Haas Grotesk Display Pro 75 Bold

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 700;
font-style: normal;


Neue Haas Grotesk Display Pro 76 Bold Italic

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 700;
font-style: italic;


Neue Haas Grotesk Text Pro 55 Roman

font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 400;
font-style: normal;


Neue Haas Grotesk Text Pro 56 Italic

font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 400;
font-style: italic;


Neue Haas Grotesk Text Pro 75 Bold

font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 700;
font-style: normal;


Neue Haas Grotesk Text Pro 76 Bold Italic

font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 700;
font-style: italic;

*/

body {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#logo {
  padding-left: 5px;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
}

.add-leftover-steps {
  margin-top: 20px;
}

.add-leftover-steps li {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.add-leftover-steps li em {
  font-size: 0.9rem;
}
